.dashboard-container {
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  background: #f4f6f8;
}


/* HEADER */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 20px;
}


/* MAIN CONTENT */
.dashboard-main {
  display: flex;
  gap: 25px;
  align-items: flex-start;
}
.dashboard-form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 50px;
  height: auto;
  border: solid 1px black;
}
.dashboard-form h2{
  text-align: center;
}

.dashboard-expenses {
  flex: 2;
}

.label-find{
  margin-left: 100px;
}
.input-find{
  margin-left: 8px;
  outline: none;
}

.sort-label{
  margin-left: 100px;
}