.grafy{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.graphs-header{
    font-size: 42px;
}
.container-grafy{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}